{# empty Twig template #}
{% extends 'TAMASAstroBundle::layoutAdmin.html.twig' %}

{% block title %}
    Add PDF file — {{ parent() }}
{% endblock %}

{% block tamasastro_body %}
    {% form_theme form 'bootstrap_3_TAMAS.html.twig'
'jquery.collection.html.twig' %}
<h3>Add PDF file <small>{{pdfFile.fileName}}</small></h3>
    <div class="row">
        <div class="col-md-10">
            <div class="well">
                {{ form_start(form) }}
                {{form_row(form.pdfFile)}}
                {{form_row(form.fileUserName)}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Admin board</h4>
                </div>
                <div class="panel-body">
                    {{ form_rest(form) }}
                    {{ form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block javascripts %}
    {{parent()}} 
    <script>

     $("#{{form.vars.id}}_pdfFile_file").bind('change', function(e){
        if (parseInt(this.files[0].size) > 1000000){
            alert("This file is too large. Please select a lighter image. Current size :"+this.files[0].size+" octet");
            $(this).val('');
        }
    }) 
    </script>
{% endblock %}
