<div style="padding: 0 50px 100px">
    <h1>
        <span class="glyphicon glyphicon-search"></span>
        &nbsp;&nbsp;How to search
    </h1>
    <h2 class="search-step"><b>1</b> Select an entity</h2>
    <table>
        <tr>
            <td colspan="3">
                <img style="width: 100%;" src="{{asset('img/search-documentation/select-entity.png')}}"
                     alt="How to select an entity">
            </td>
            <td colspan="6">
                <h3>Choose an entity</h3>
                <p>Select in the dropdown menu the type of content on which you want to perform a query.</p>
            </td>
        </tr>
    </table>
    <h2 class="search-step"><b>2</b> Perform a query</h2>
    <table>
        <tr>
            <td colspan="3">
                <img style="width: 100%;" src="{{asset('img/search-documentation/every-records.png')}}"
                     alt="How to find every records">
            </td>
            <td colspan="6">
                <h3>Find everything</h3>
                <p>Don't write anything in the search bar and click on the search button.</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img style="width: 100%;" src="{{asset('img/search-documentation/fuzzy-query.png')}}"
                     alt="How to find records">
            </td>
            <td colspan="6">
                <h3>Fuzzy search</h3>
                <p>Write term that should approximately match the records you want to find.</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img style="width: 100%;" src="{{asset('img/search-documentation/exact-match.png')}}"
                     alt="How to exactly find records">
            </td>
            <td colspan="6">
                <h3>Exact match</h3>
                <p>Surround your search terms by <b>"</b>quotes<b>"</b> if you want an exact match.</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img style="width: 100%;" src="{{asset('img/search-documentation/wildcard.png')}}"
                     alt="How to use wildcard">
            </td>
            <td colspan="6">
                <h3>Wildcard query</h3>
                <p>Use an asterisk<b>*</b> if you want to search for only fragments of a term.</p>
            </td>
        </tr>
    </table>
    <h2 class="search-step"><b>3</b> Reuse a query</h2>
    <table>
        <tr>
            <td colspan="3">
                <img style="width: 100%;" src="{{asset('img/search-documentation/copy-query.png')}}"
                     alt="How to copy a query">
            </td>
            <td colspan="6">
                <h3>Copy query</h3>
                <p>Click on the <span class="badge" style="background-color: #a5a5a5">copy query</span> button to copy the URL request in your clipboard.</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img style="width: 100%;" src="{{asset('img/search-documentation/raw-data.png')}}"
                     alt="How to access raw data">
            </td>
            <td colspan="6">
                <h3>Get raw data</h3>
                <p>Paste the URL in the address bar of your browser to access the data in a JSON format.</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img style="width: 100%;" src="{{asset('img/search-documentation/paste-query.png')}}"
                     alt="How to reuse a query">
            </td>
            <td colspan="6">
                <h3>Save a query</h3>
                <p>To perform the same query in the future, paste the copied URL in the search bar to get the same results.</p>
            </td>
        </tr>
    </table>
</div>