<div id="{{ entity }}-entry" class="def-entry hidden {{ object_info.properties[entity].objectUserInterfaceName|first|upper }} all">
    <div class="row" style="text-align: left; padding: 25px 0">
        <div class="col-md-2">
            <div class="picto-background {{ entity }}" style="margin: 0 30%;">
                <img class="picto-size"
                     src="{{ asset('img/pictograms/'~ entity ~'.png')}}"
                     alt="{{ object_info.properties[entity].objectUserInterfaceName|capitalize }} pictogram">
            </div>
        </div>
        <div class="col-md-10">
            <h2 class="lightgrey">{{ object_info.properties[entity].objectUserInterfaceName|capitalize }}</h2>
            <div class="horizontal-bar lightgrey"></div>
        </div>
    </div>
    <p class="lightgrey desc" style="text-align: justify">
        {{ object_info.properties[entity].longDefinition|raw }}

        {% if entity == "mathematicalParameter" %}
            {{ object_info.properties.shiftDisplacement.longDefinition|raw }}
        {% endif %}
    </p>
    {% if admin == true and is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path("tamas_astro_adminEditDefinition", {id: object_info.properties[entity].id}) }}" class="findAll">
            <span class="glyphicon glyphicon-pencil"></span>
            Modify definition
        </a>
        <br>
    {% endif %}

    {% if entity in ["parameterSet","formulaDefinition","work","originalText","primarySource","editedText"] %}
        {% if admin == true %}
            {% if entity != "formulaDefinition" %}
                <a href="{{ path('tamas_astro_adminList'~entity|ucfirst()) }}" class="findAll">Show all {{ object_info.properties[entity].objectUserInterfaceName|plural() }} of the database</a>
            {% endif %}
        {% else %}
            {% set clickableArea %}
                <span class="find-all">Show all {{ object_info.properties[entity].objectUserInterfaceName|plural() }} of the database</span>
            {% endset %}

            {% include 'TAMASAstroBundle:Default:Templates/findAll.html.twig' with {'entity': entity, 'clickableArea': clickableArea} %}
        {% endif %}
    {% endif %}
</div>